/* src/components/MainLayout.css */

.main-layout {
  display: flex;
  height: 100vh; /* ocupa toda la ventana */
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* junto al sidebar */
}

.main-content {
  flex: 1;
  display: flex;
  overflow: auto;   /* <— permitimos siempre scroll */
}

.content-scroll {
  padding: 1.5rem;
  box-sizing: border-box;
  overflow: auto;   /* <— permitimos scroll interno si hace falta */
}
