/* App.css */

body, html {
    margin: 0; padding: 0;
    font-family: 'bold', sans-serif;
    background: #f9fafb;
    height: 100%;
    overflow: auto;
    
  }

  html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  .login-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .login-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
  }
  /* Inputs y botón comparten este ancho */
  .login-input,
  .btn {
    width: 100%;       /* ocupan todo el ancho de la tarjeta */
    box-sizing: border-box; 
  }
  .login-card img {
    display: block;
    margin: 0 auto 1rem;
    height: 40px;
  }
  
  .login-card h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #111827;
  }
  
  .login-card label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    color: #374151;
  }
  
  .login-card input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 1rem;
    color: #111827;
  }
  
  .login-card a {
    font-size: 0.875rem;
    color: #4f46e5;
    text-decoration: none;
  }
  
  .login-card a:hover {
    text-decoration: underline;
  }
  
  .login-card .btn {
    width: 100%;
    padding: 0.75rem;
    background: #ED3237;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .login-card .btn:hover {
    background: #c12a2d;
  }
  
  .login-card .footer {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    text-align: center;
    color: #6b7280;
  }
  
  .login-card .footer a {
    color: #4f46e5;
  }
 
  .calendar-wrapper {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
  }
  
  .calendar-wrapper .fc {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .calendar-wrapper .fc .fc-scroller-harness {
    overflow-y: auto !important;
  }
  
  .calendar-wrapper .fc-theme-standard .fc-col-header-cell {
    background: #f3f4f6;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .calendar-wrapper .fc .fc-timegrid-slot-lane {
    border-color: #e5e7eb;
  }
  